body {
    background-color: cyan;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}


.col_layout {
    height: 540px;
    background-color: white;
    margin-top: 15px;
    padding: 15px;
}


.dep_atributo {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
}


.dep_atributo_title {
    color: grey;
    font-weight: 600;
    font-size: 12px;
}


#dep_foto {
    width: 140px;
    border-radius: 10px;
}


#dep_uf {
    font-size: 18px;
}


#dep_partido {
    font-size: 18px;
}


#none_selected {
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: 700;
}


.title {
    font-size: 24px;
    font-weight: 800;
    color: purple;
}